In [1]:
import pandas as pd

In [2]:
payment = pd.read_csv('/Users/abhisheksharma/Desktop/Data_Sources/Raw_PaymentHistory_Data.csv')
payment

,LoanID,CustomerID,ContactID,LoanAmountAsked,LoanAmountDisbursed,InterestRate,APR,OriginationFee,OtherFees,State,...,Prepayment_Flag,Prepayment_Amount,Excess_Prepayment_Flag,Excess_Prepayment_Amount,Transaction_Date,Disbursal_Date,Due_Date,Amount_Paid_Till_Now,DPD,Closed_Date
0,LN1000,1,CNT0001,26821,26026,7.49,8.14,260.26,87.12,CA,...,0,0.00,0,0.0,2023-06-15,2023-05-20,2023-06-19,0.000000,0,2023-06-19
1,LN1001,1,CNT0001,45580,44789,13.05,14.79,447.89,54.03,NC,...,0,0.00,0,0.0,2023-07-16,2023-06-20,2023-07-20,0.000000,0,2023-07-20
2,LN1002,1,CNT0001,22846,22072,14.27,16.20,220.72,52.94,PA,...,0,0.00,0,0.0,2023-02-17,2023-01-23,2023-02-22,883.185644,0,NaN
3,LN1002,1,CNT0001,22846,22072,14.27,16.20,220.72,52.94,PA,...,0,0.00,0,0.0,2023-03-20,2023-01-23,2023-03-24,1759.080376,0,NaN
4,LN1002,1,CNT0001,22846,22072,14.27,16.20,220.72,52.94,PA,...,0,0.00,0,0.0,2023-04-18,2023-01-23,2023-04-23,2627.684194,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176264,LN20899,10000,CNT10000,30714,29757,14.94,15.70,297.57,81.35,GA,...,0,0.00,0,0.0,2024-11-19,2023-11-25,2024-11-19,13811.798942,0,NaN
176265,LN20899,10000,CNT10000,30714,29757,14.94,15.70,297.57,81.35,GA,...,0,0.00,0,0.0,2024-12-16,2023-11-25,2024-12-19,14895.890931,0,NaN
176266,LN20899,10000,CNT10000,30714,29757,14.94,15.70,297.57,81.35,GA,...,0,0.00,0,0.0,2025-01-13,2023-11-25,2025-01-18,15969.691957,0,NaN
176267,LN20899,10000,CNT10000,30714,29757,14.94,15.70,297.57,81.35,GA,...,0,0.00,0,0.0,2025-02-14,2023-11-25,2025-02-17,17033.202021,0,NaN
176268,LN20899,10000,CNT10000,30714,29757,14.94,15.70,297.57,81.35,GA,...,1,14754.28,0,0.0,2025-03-18,2023-11-25,2025-03-19,32840.701122,0,2025-03-19

In [ ]:
## Use the above data, Modify it in such a way that it can be used in default model

In [9]:
macro = pd.read_csv('/Users/abhisheksharma/Desktop/Data_Sources/Macroeconomic_Factors.csv')
macro

,Date,GDP_Growth (%),Inflation_Rate (%),Unemployment_Rate (%),Interest_Rate (%),Exchange_Rate (USD/INR),Consumer_Sentiment_Index,Income_Index,Stock_Market_Index,Housing_Index
0,2020-01-01,2.000000,1.500000,3.500000,1.500000,71.161359,95.000000,100.197898,3212.562982,150.333529
1,2020-02-01,-1.333333,1.695652,7.000000,1.250000,70.731423,89.000000,100.381264,3219.803232,151.158539
2,2020-03-01,-4.666667,1.891304,10.500000,1.000000,71.549750,83.000000,100.635018,3230.079741,151.957479
3,2020-04-01,-8.000000,2.086957,14.000000,0.750000,72.201484,77.000000,100.734017,3245.293466,153.079722
4,2020-05-01,-8.000000,2.282609,14.000000,0.500000,71.525773,71.000000,100.857029,3247.197071,154.090381
...,...,...,...,...,...,...,...,...,...,...
127,2030-08-01,2.164376,2.255257,3.692684,3.968012,88.708720,75.750778,119.286383,4597.970471,219.120990
128,2030-09-01,1.735120,2.476869,3.924230,3.996197,89.241599,84.151679,119.467164,4598.409664,219.124612
129,2030-10-01,2.256634,2.602346,3.625665,3.799494,89.169150,75.719581,119.446147,4626.244912,218.983554
130,2030-11-01,2.048539,2.583007,4.489723,3.996297,90.698533,80.357831,119.461328,4657.552476,219.553507
131,2030-12-01,2.484322,2.748155,3.570958,3.942268,90.440820,77.611713,119.685655,4658.991281,220.228980